:root {



    --paler-color: #f8edc4;

    --pale-color: #fdf4d2;

    --main-color: #fed02f;

    --main-color-rgb: 254, 208, 47;

    --B: #e9bf2d;
    --dark-color:#e3bc34;

    --darker-color: #bc9305;
    --A:#a78611;

}

